* {
    margin: 0;
    padding: 0;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.wrapper {
    min-height: 100vh; /*класс wrapper и top_container  созданы для прижатия футера к полу, сделали флекс-дирекшн: коламн и гроу 1(чтобы он заполнии все пространство, кроме того, что в футере. И добавили min-height: 100 значений высоты, чтобы заняло весь экран;)*/
    display: flex;
    flex-direction: column;
}

.top_container {
    flex-grow: 1;
}

.top_content {
    display: flex;
    flex-direction: column;
}

.content_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.font_type {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text_top {
    width: 425px;
}

.text_project {
    width: 75%;
    margin: 0 auto;
    color: #222222;
    opacity: 1;
    text-align: center;
    margin: 32px auto 64px; /*auto справа и слева*/
}

.top_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url("images/illustration.png"); /*фоном высталяем картинку */
    background-repeat: no-repeat; /*она может повторяться, задаем: "не повторяться"*/
    background-position: right center; /*и выравнивание: с правйо стороны  по центру*/
    background-size: 39%;
}

.heading_top {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    align-self: center;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    margin-top: 71px;
    display: inline-block; /*сделали блочно-стрончным, чтобы не наезжал на верхний блок*/
}

.what_we_do {
    padding-top: 64px;
}

.contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading_mini {
    font-size: 20px;
    line-height: 30px;
    color:#1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container {
    max-width: 1140px; /*примерно: если задать этот параметр,и (возможно) внутри него ширину в пройентах, то сайт будет адаптироваться под сужение экрана(когда оконо становится уже)*/
    margin: 0 auto; /*центрует элемент*/
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.link {
    list-style-type: none;
}

.card_box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
} 

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box; /*так как задан width задаем это параметр, чтобы блок не стал в разы больше*/
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    }

.card_img {
    align-self: center;
    margin-bottom: 50px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none; /*убираем нижнее подчеркивание*/
}

.footer {
    margin-top: 112px;
    padding-top: 91px;
    padding-bottom: 64px;
    background: #316099;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;

}

.footer_blocks {

}

.heading_footer {
    width: 380px;/*сам задал значение padding, иначе становилось 3 строки*/
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: left;
}

.footer_text {
    width: 400px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}



.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    align-self: center;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

.line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer_bottom {
    margin-top: 64px;
}

.main {
    display: flex;
}

.project {

}

.project_item {
    position: relative;
    flex-grow: 1;
}

.project_item_margin {
    margin-right: 30px;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_text_mini {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    left: 32px;
    top: 32px;

}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project_img {
    width: 100%;
}

.info {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1; /* для списка li в контактах на главной в футере и для страницы contacts*/
    list-style-type: none;
    margin-right: 32px;
    flex-basis: 33%; /*если его не задать, то при большом колечестве текста он будет "наезжать" на следующий блок, а так все блоки будут по 1/3 занимать*/
    display: flex;
}

.info:first-child::before {
    content: "A. ";
    display: block;
    margin-right: 16px;
}

.info:nth-child(2)::before {
    content: "T. ";
    display: block;
    margin-right: 16px;
}

.info:nth-child(3)::before {
    content: "E. ";
    display: block;
    margin-right: 16px;
}

.text_copywrite {
    margin-top: 64px;
    opacity: 0.4;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top_info {
        background-position: right 190px;
    }
    .card_box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }
}

@media (max-width: 667px) {
    .heading_top {
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width: 100%;
        text-align: center;
    }

    .header {
        padding-top: 24px;
    }

    .text_top {
        width: 100%;
        text-align: center;
    }

    .top_info {
        padding-top: 33px;
        display: flex;
        flex-direction: column;
        background-image: none;

    }

    .top_button {
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    padding:  0 8px;
    }

    .top {
        min-height: 375px;
        padding-bottom: 41px;
        box-sizing: border-box; /*чтобы padding не сделал высоту элемента намного больше, если она будет фиксированной, то есть padding не учитывается в подсчетах ширины и высоты*/
    }

    .what_we_do {
        padding-top: 48px;
    }

    .card_box {
        padding-top: 32px;
    }

    .card {
        margin-bottom: 32px;
        width: 100%;
    }

    .heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    }

    .text_project {
        margin-bottom: 98px;
        width: 100%;
    }

    .project_parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .project_text {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    top: 16px;
    right: 16px;
    }

    .project_text_mini {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }
}

