* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 75px;
    background: #222222;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.navbar_icons {
    display: flex;
    justify-content: space-between;
}

.navbar_icons_left {
    display: flex;
    justify-content: space-between;
}

.navbar_icons_right {
    display: flex;
    justify-content: space-between;
}

.navbar_icon1 {
    margin-top: 18px;
    margin-right: 41px;
    width: 44px;
    height: 38px;
}

.navbar_icon2 {
    margin-top: 28px;
    width: 26px;
    height: 26px;
}

.navbar_icon3 {
    margin-top: 30px;
    margin-right: 33px;
    width: 32px;
    height: 23px;
}

.navbar_icon4 {
    margin-top: 26px;
    margin-right: 33px;
    width: 29px;
    height: 29px;

}
.navbar_icon5 {
    margin-top: 18px;
    width: 32px;
    height: 29px;
}

.content_top {
    background: #F1E4E6;
}

.top_box {
    display: flex;
    justify-content: space-between;
}

.man {
    width: 800px;
    height: 764px;
    margin-right: 63px;
    margin-left: -220px;
}

.top_info {
    width: 500px;
    align-self: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.three_picture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}